<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="css/index.css" rel="stylesheet">


</head>

<body>
    {{>Navbar}}
    <div class="container">
        <h1 class="my-3 text-center heading">Terms & Conditions </h1>
        <p class="para">This page, together with the documents referred to within, contain the terms and conditions
            ("Terms and
            Conditions") on which MEDX of Delhi supply any of
            the products listed on Our Website www.medx.net.in ("Our Site") to you, the customer . Please read these
            Terms and Conditions carefully before ordering any Products from Our Site. These
            Terms and Conditions apply to the Contract to the exclusion of any other terms that You seek to impose or
            incorporate, or which are implied by trade, custom, practice of course of dealing.</p>
        <p class="para">If You refuse to accept Our Terms and conditions, You will not be able to order any Products
            from Our Site
        </p>
        <ul>
            <li class="para">A person includes a natural person, corporate or unincorporated body (whether or not having
                separate
                legal personality).</li>
            <li class="para">A reference to a statute or statutory provision is a reference to such statute or provision
                as amended
                or re-enacted. A reference to a statute or statutory provision includes any subordinate legislation made
                under that statute or statutory provision, as amended or re-enacted.</li>
            <li class="para">Any phrase introduced by the terms including, include, in particular or any similar
                expression shall be
                construed as illustrative and shall not limit the sense of the words preceding those terms.</li>
            <li class="para">A reference to writing or written includes e-mails.</li>
        </ul>
        <h3>Contract Formation</h3>
        <p class="para">After placing an order, You will receive an e-mail from Us acknowledging that We have received
            Your order.
            Your order constitutes an offer to Us to buy a Product and any acknowledgement email does not mean that Your
            order has been accepted by Us. All orders are subject to acceptance by Us, and We will confirm such
            acceptance to You by sending You an e-mail that confirms that the Product has been dispatched (the "Dispatch
            Confirmation"), with express exception of eBook purchases (which by their nature are not dispatched) which
            will be accepted by Us and confirmed to You upon receipt of an order confirmation. The contract ("Contract")
            between Us and You will only be formed when We send you the Dispatch Confirmation.</p>
        <p class="para">The Contract constitutes the entire agreement between the parties. You acknowledge that You have
            not relied
            on any statement, promise or representation made or given by or on behalf of Us which is not set out in the
            Contract.</p>
        <p class="para">The Contract will relate only to those Products whose dispatch We have confirmed (pursuant to
            this clause 4)
            in the Dispatch Confirmation. We will not be obliged to supply any other Products which may have been part
            of Your order until the dispatch of such Products has been confirmed in a separate Dispatch Confirmation.
        </p>
        <p class="para">Any samples, drawings, descriptive matter or advertising produced by Us and any descriptions or
            illustrations
            contained on Our Site are produced for the sole purpose of giving an approximate idea of the Products
            described in them. They shall not form part of the Contract or have any contractual force.</p>
        <h3 class="heading">Our Status</h3>
        <p class="para">Please note that in some cases, We accept orders as agents on behalf of third party sellers. The
            resulting
            legal contract is between You and that third party seller, and as such, is subject to the terms and
            conditions of that third party seller.</p>
        <p class="para">We may also provide links on Our Site to the websites of other companies, whether affiliated
            with
            Us or not.
            We cannot give any undertakings that the products You purchase from third party sellers through Our Site, or
            from companies to whose website We have provided a link on Our Site, are of satisfactory quality or fit for
            purpose, and any such warranties are expressly DISCLAIMED by Us absolutely. This DISCLAIMER does not affect
            your statutory rights against the third party seller. We will notify you when a third party seller is
            involved in a transaction, and You grant Us express permission to disclose your customer information related
            to that transaction to the third party seller.</p>
    </div>

    {{>Footer}}
</body>

</html>